{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<h1>Django Celery Web Example</h1>
<div id="s" class="spinner"><i class="fa fa-spinner fa-spin"></i></div>

<h1>Long Task without Celery</h1>
<p>Result: <span id="r2"></span></p>
<p>Elasped Time: <span id="t2">0</span>s</p>
<input type="button" value="Long Run" onclick="sync_run_modeling_job()">
<hr>

<h1>Long Task with Celery</h1>
<p>Result: <span id="r3"></span></p>
<p>Elasped Time: <span id="t3">0</span>s</p>
<input type="button" value="Asynchronous Long Run" onclick="async_run_modeling_job()">
<hr>

<script>
    function sync_run_modeling_job() {
        document.getElementById('s').style.display = 'block';

        let url = '/sync-run-modeling-job/';
        fetch(url).then(response => response.json()).then(data => {
            document.getElementById('r2').innerText = data['result'];
            document.getElementById('t2').innerText = data['elasped_time'];
            document.getElementById('s').style.display = 'none';
        });
    }

    function async_run_modeling_job() {
        document.getElementById('s').style.display = 'block';

        let url = '/async-run-modeling-job/';
        fetch(url).then(response => response.json()).then(data => {
            document.getElementById('r3').innerText = data['result'];
            document.getElementById('t3').innerText = data['elasped_time'];
            document.getElementById('s').style.display = 'none';
        });
    }
</script>
{% endblock %}
