{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block title %} Django & Comments {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Django & Comments - TinyMCE</h1>
    <p class="m-4 text-center">Hello, this is an example Django project with Comments.</p>

    <hr />
    <div class="row">
        <h2 class="p-20 text-center">{{article.title}} 😁</h2>
        <p>{{article.content}}</p>
    </div>

    <hr />
    {% for comment in comments %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <p><span>{{comment.user}} @ {{comment.creation_date}}</span></p>
                    <p class="card-text mt-3">{{ comment.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr />

    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <form method="POST" class="form-horizontal" autocomplete="off">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
