<div class="m-8">
    <ul class="flex text-xl flex-row justify-center space-x-16">
        <li>
            <a class="text-xl text-green-400" href="#">Home</a>
        </li>
        <li>
            <a class="text-xl text-blue-400" href="#">Solutions</a>
        </li>
        <li>
            <a class="text-xl text-blue-400" href="#">About</a>
        </li>
        <li>
            <button class="bg-purple-300 p-2 rounded-lg font-satisfy text-xl border-font-semibold hover:bg-transparent hover:border-purple-100 hover:border-solid hover:border-2">Free Trial</button>
        </li>
 </ul>
</div>